<!DOCTYPE html>
<html lang="en">
<partial name="~/Areas/Admin/Views/Shared/AdminPartialView/_HeadPartial.cshtml" />

<body>

    <!--*******************
        Preloader start
    ********************-->
    <partial name="~/Areas/Admin/Views/Shared/AdminPartialView/_PreloaderPartial.cshtml" />
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <partial name="~/Areas/Admin/Views/Shared/AdminPartialView/_NavbarPartial.cshtml" />
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <partial name="~/Areas/Admin/Views/Shared/AdminPartialView/_SidebarPartial.cshtml" />
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">


            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <partial name="~/Areas/Admin/Views/Shared/AdminPartialView/_FooterPartial.cshtml" />
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <partial name="~/Areas/Admin/Views/Shared/AdminPartialView/_ScriptPartial.cshtml" />
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>