@{
    Layout = null;
}
<!-- Contact Index -->

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_Head");

<body>
    @await Component.InvokeAsync("_Navbar");


    @await Component.InvokeAsync("_ContactCoverPartial");
  
    @await Html.PartialAsync("/Views/Contact/SendMessage.cshtml");
    
    <!-- Booking End -->
    <!-- Booking End -->
    @await Component.InvokeAsync("_Footer");
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    @await Component.InvokeAsync("_Script");
</body>

</html>