@model List<ResultGuestDto>

<table class="table table-bordered">
    <tr>
        <th>İsim</th>
        <th>Soyisim</th>
        <th>Şehir</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.name</td>
            <td>@item.surname</td>
            <td>@item.city</td>
            <td><a href="/Admin/Guest/UpdateGuest/@item.id" class="btn btn-outline-primary">Güncelle</a></td>
            <td><a href="/Admin/Guest/DeleteGuest/@item.id" class="btn btn-outline-danger">Sil</a></td>
        </tr>
    }
</table>
<a href="/Admin/Guest/AddGuest" class="btn btn-outline-success">Misafir Ekle</a>