@model List<ResultServiceDto>
<table class="table table-bordered">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach(var item in Model)
        {
            <tr>
                <td>@item.title</td>
                <td>@item.decription</td>
                <td><a href="/Admin/Service/UpdateService/@item.id" class="btn btn-outline-success">Güncelle</a></td>
                <td><a href="/Admin/Service/DeleteService/@item.id" class="btn btn-outline-danger">Sil</a></td>
            </tr>
        }

</table>