@model List<ResultWorkLocationDto>

<table class="table table-bordered">
    <tr>
        <th>Otel Adı</th>
        <th>Bulunduğu Şehir</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.City</td>
            <td><a href="/Admin/WorkLocation/UpdateWorkLocation/@item.WorkLocationId" class="btn btn-outline-primary">Güncelle</a></td>
            <td><a href="/Admin/WorkLocation/DeleteWorkLocation/@item.WorkLocationId" class="btn btn-outline-danger">Sil</a></td>
        </tr>
    }
</table>
<a href="/Admin/WorkLocation/AddWorkLocation" class="btn btn-outline-success">Otel Ekle</a>