<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Menüler</li>
            <li>
                <a href="/Admin/Dashboard/Index" aria-expanded="false">
                    <i class="icon-home menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Login/SignUp" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Kayıt Ol</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Login/SignIn" aria-expanded="false">
                    <i class="icon-user-female menu-icon"></i><span class="nav-text">Giriş Yap</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Service/Index" aria-expanded="false">
                    <i class="icon-energy menu-icon"></i><span class="nav-text">Hizmetlerimiz</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Staff/Index" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Personelimiz</span>
                </a>
            </li>
            <li>
                <a href="/Admin/BookingAdmin/Index" aria-expanded="false">
                    <i class="icon-phone menu-icon"></i><span class="nav-text">Rezervasyonlar</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Room/Index" aria-expanded="false">
                    <i class="icon-handbag menu-icon"></i><span class="nav-text">Oda İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Contact/Inbox" aria-expanded="false">
                    <i class="icon-key menu-icon"></i><span class="nav-text">Gelen Kutusu</span>
                </a>
            </li>
            <li>
                <a href="/Admin/AdminAbout/Index" aria-expanded="false">
                    <i class="icon-clock menu-icon"></i><span class="nav-text">Hakkımızda</span>
                </a>
            </li>
            <li>
                <a href="/Admin/ImageFile/Index" aria-expanded="false">
                    <i class="icon-arrow-up-circle menu-icon"></i><span class="nav-text">Resim Yükleme</span>
                </a>
            </li>
            <li>
                <a href="/Admin/User/Index" aria-expanded="false">
                    <i class="icon-user-follow menu-icon"></i><span class="nav-text">Kullanıcı İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/Admin/WorkLocation/Index" aria-expanded="false">
                    <i class="icon-like menu-icon"></i><span class="nav-text">Otel İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Role/Index" aria-expanded="false">
                    <i class="icon-star menu-icon"></i><span class="nav-text">Rol İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/Admin/RoleAssign/Index" aria-expanded="false">
                    <i class="icon-settings menu-icon"></i><span class="nav-text">Rol Atama İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Settings/Index" aria-expanded="false">
                    <i class="icon-settings menu-icon"></i><span class="nav-text">Kullanıcı Bilgi Güncelleme</span>
                </a>
            </li>
        </ul>
    </div>
</div>