@model List<AppUser>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Kullanıcı İsmi</th>
        <th>Rol Ata</th>
       
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td><a href="/Admin/RoleAssign/AssignRole/@item.Id" class="btn btn-outline-primary">Rol Ata</a></td>
            
        </tr>
    }
</table>
